<a href="https://colab.research.google.com/github/veronica1013/Moringa_Week4_Independent_Project/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2021_09_Veronica_Isiaho_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="green">*To start working on this notebook,I will import two libraries that I am going to use. These are the pandas and the numpy libraries.*</font>

# Python Data Analysis for an electric car-sharing service company

## 1.0 Importing our Libraries

In [1]:
# Importing the libraries we will need 

# Importing the pandas library
# 
import pandas as pd

# Importing the numpy library
#
import numpy as np

## 1.1 Importing the Dataset



The dataset we will use contains data obtained by Dalberg Data Insights for a shared electric car service from April 1 to April 9, 2018 but the data was obtained from October 30, 16:59 PM to July 31, 2018, 23:59 PM.



*   Dataset link for download or access: [http://bit.ly/autolib_dataset] and here respectively [link]https://drive.google.com/file/d/13DXF2CFWQLeYxxHFekng8HJnH_jtbfpN/view

In [2]:
# Let's read the data from the CSV file and create the dataframe to be used
# 
df = pd.read_csv('/content/Autolib_dataset.csv')

In [3]:
description = pd.read_excel('/content/Autolib_column_description.xlsx')
description

            Column name                                           Comments
0               Address                             address of the station
1                  Cars  Number of cars available at the station - redu...
2       Bluecar counter        Number of Bluecars available at the station
3        Utilib counter         Number of Utilibs available at the station
4    Utilib 1.4 counter     Number of Utilib 1.4  available at the station
5          Charge Slots  Number of Charging slots available at the station
6       Charging Status  Whether the station is operational for recharg...
7                  City                                               City
8     Displayed comment  Some comments like "station within parking, ac...
9                    ID                                  ID of the station
10                 Kind  "CENTER" have no resources at all; "PARKING" d...
11            Geo point                     GPS coordinates of the station
12          Postal code                         Postal code of the station
13          Public name                                Name of the station
14        Rental status  Whether the station is available for renting v...
15         Scheduled at  Planned opening date: non empty values only fo...
16                Slots  Number of parking slots available at the station?
17         Station type  No resources available for "subs_center" - whi...
18               Status  No resources available for "scheduled", which ...
19  Subscription status  Whether it is possible to subscribe to the aut...

## 1.2 Previewing our Dataset

In [4]:
# Preview the first 5 rows of our data
# 
df.head(3)

                            Address  Cars  Bluecar counter  ...  day  hour  minute
0               2 Avenue de Suffren     0                0  ...    8    11      43
1         145 Rue Raymond Losserand     6                6  ...    6     7      24
2  2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14

[3 rows x 25 columns]

## 1.3 Accessing Information about our Dataset

There's need to convert columns to the respective datatypes ie. if there are columns that need to be converveted from string to float. This observation can be made by accessing information about the dataset.

In [5]:
# Know more about the dataset by accessing its information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

## 1.4 Cleaning our Dataset

### 1.4.1 Validity

In [6]:
# Data Cleaning Action: Change the columns with the wrong datatype to the right datatype
# Explanation: Convert year, month, day, hour and minute columns from int64 to datetime64
#ls = list(df.columns)
#for column in ls[20:24]:
#  df[column]=df[column].astype('datetime64[ns]')
#df.info()

In [7]:
# Data Cleaning Action: Merge the year, month and day into one column called Date
# Explanation: This will enable ease of date confirmation. The year, month, day and minute columns will be drop because they are unnecessary

df['Date'] = pd.to_datetime(df.year*10000+df.month*100+df.day,format='%Y%m%d')

In [8]:
df.head(3)

                            Address  Cars  ...  minute       Date
0               2 Avenue de Suffren     0  ...      43 2018-04-08
1         145 Rue Raymond Losserand     6  ...      24 2018-04-06
2  2 Avenue John Fitzgerald Kennedy     3  ...      14 2018-04-03

[3 rows x 26 columns]

In [9]:
# Data Cleaning Action: Drop the year, month and day column
not_rqd_columns = ['year', 'month', 'day']
df.drop(not_rqd_columns, inplace=True, axis=1)
df.head(3)

                            Address  Cars  ...  minute       Date
0               2 Avenue de Suffren     0  ...      43 2018-04-08
1         145 Rue Raymond Losserand     6  ...      24 2018-04-06
2  2 Avenue John Fitzgerald Kennedy     3  ...      14 2018-04-03

[3 rows x 23 columns]

### 1.4.2 Accuracy

#### 1.4.2.1 Check for null values or missing data

In [10]:
# Data Cleaning Action: Check for null values or missing data
# Explanation: This will help in knowing whether to replace with the mean of the specific column or delete that column/row
#
df.isnull().sum()

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
hour                      0
minute                    0
Date                      0
dtype: int64

#### 1.4.2.2 Check for the total number of rows and columns

In [11]:
# Data Cleaning Action: Checking the number of rows and columns in our data set
# Explanation: This is to gauge the percentage of missing data in any row. 
#
df.shape

(5000, 23)

#### 1.4.2.3 Drop the columns with the missing values

In [12]:
# Data Cleaning Action: Drop the columns that have more than 70% of missing data.
# Explanation: The high percentage of missing data will interefere with the analysis. 
# These columns (Displayed comment and Scheduled at) won't be needed in the analysis. They are irrelevant

missing_data_columns = ['Displayed comment', 'Scheduled at']
df.drop(missing_data_columns, inplace=True, axis=1)
df.head(3)

                            Address  Cars  ...  minute       Date
0               2 Avenue de Suffren     0  ...      43 2018-04-08
1         145 Rue Raymond Losserand     6  ...      24 2018-04-06
2  2 Avenue John Fitzgerald Kennedy     3  ...      14 2018-04-03

[3 rows x 21 columns]

#### 1.4.2.4 Create a column of summation of total cars

In [13]:
# Add a column for total cars in the data set

sum_column = df["Bluecar counter"] + df["Utilib counter"] + df["Utilib 1.4 counter"] 
df["Total Cars"] = sum_column
df.head(2)

                     Address  Cars  ...       Date  Total Cars
0        2 Avenue de Suffren     0  ... 2018-04-08           0
1  145 Rue Raymond Losserand     6  ... 2018-04-06           6

[2 rows x 22 columns]

#### 1.4.2.5 Rename the Public name column to Station Name and remove the word counter on Bluecar counter,	Utilib counter and	Utilib 1.4 counter

In [14]:
df=df.rename(columns = {'Public name':'Station Name', 'Bluecar counter':'BlueCar',	'Utilib counter':'Utilib', 'Utilib 1.4 counter': 'Utilib 1.4'})
df.head(2)

                     Address  Cars  BlueCar  ...  minute       Date  Total Cars
0        2 Avenue de Suffren     0        0  ...      43 2018-04-08           0
1  145 Rue Raymond Losserand     6        6  ...      24 2018-04-06           6

[2 rows x 22 columns]

### 1.4.3 Completeness

In [15]:
# Data Cleaning Action: Check the percentage of missing values in df dataset 
# Explanation: This will help in knowing the next course of action
# i.e whether to replace the missing values with the mean of that column or drop them
df.isna().sum().sum() / df.size * 100

0.0

### 1.4.4 Consitency

In [16]:
# Data Cleaning Action: Check if there are any Duplicates
# Explanation: There were no duplicate instances

df.duplicated(subset=None, keep='first')

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Length: 5000, dtype: bool

### 1.4.5 Uniformity

In [17]:
# Data Cleaning Action: To confirm if the data is uniform
# Explanation:

column_values = df[["City"]].values
unique_values =  np.unique(column_values)

unique_values

array(['Alfortville', 'Antony', 'Arcueil', 'Argenteuil',
       'Asnires-sur-Seine', 'Aubervilliers', 'Aulnay-sous-bois',
       'Bagneux', 'Bagnolet', 'Bezons', 'Bivres', 'Bois-Colombes',
       'Boulogne-Billancourt', 'Bourg-la-Reine', 'Cachan',
       'Champigny-sur-Marne', 'Charenton-le-Pont', 'Chaville',
       'Chtenay-Malabry', 'Chtillon', 'Clamart', 'Clichy la garenne',
       'Clichy-la-Garenne', 'Clichy-sous-Bois', 'Colombes', 'Courbevoie',
       'Crteil', 'Drancy', 'Dugny', 'Enghien-les-Bains',
       'Epinay-sur-Seine', 'Fontenay-Sous-Bois', 'Fontenay-aux-Roses',
       'Garches', 'Gennevilliers', 'Guyancourt', 'Issy-les-Moulineaux',
       'Joinville-le-Pont', 'La Garenne-Colombes', 'Le Blanc-Mesnil',
       'Le Bourget', 'Le Chesnay', 'Le Plessis-Robinson',
       'Le Pr-Saint-Gervais', 'Les Lilas', 'Levallois-Perret',
       'Limeil-Brvannes', 'Maisons-Alfort', 'Malakoff', 'Meudon',
       'Meudon-la-Fort', 'Montfermeil', 'Montreuil', 'Montrouge',
       'Nanterre', 'Neuilly-Plaisance', 'Neuilly-sur-Seine',
       'Nogent-sur-Marne', 'Noisy-le-Sec', 'Pantin', 'Paris', 'Puteaux',
       'Romainville', 'Rosny-sous-Bois', 'Rueil-Malmaison', 'Rungis',
       'Saclay', 'Saint-Cloud', 'Saint-Denis', 'Saint-Mand',
       'Saint-Maur', 'Saint-Maurice', 'Saint-Ouen', 'Sceaux',
       'Sucy-en-Brie', 'Suresnes', 'Svres', 'Vanves', 'Vaucresson',
       'Verrires-le-Buisson', 'Versailles', "Ville-d'Avray",
       'Villejuif', 'Villeneuve-la-Garenne', 'Vincennes',
       'Vlizy-Villacoublay', 'Yerres', '\x89pinay-sur-Seine'],
      dtype=object)

#### 1.4.5.1 To check whether the Station Name belongs to the specific Postal Codes

In [18]:
grouped_df = df.groupby(["Postal code", "Station Name"]).size()
grouped_df

Postal code  Station Name
75001        Paris/Amiral Coligny/2             3
             Paris/Bertin Poire/14            6
             Paris/Colonel Driant/7             4
             Paris/Croix des Petits Champs/4    6
             Paris/Halles/3                     4
                                               ..
95870        Bezons/Edouard Vaillant/77         4
             Bezons/Emile Zola/50               6
             Bezons/Jean Jaurs/81             3
95880        Enghien-les-Bains/Arrive/19      6
             Enghien-les-Bains/Coussaye/2       4
Length: 1105, dtype: int64

#### 1.4.5.2 Check if the dates in the data set is within required date of April 1 to April 9, 2018.

In [19]:
# Use the greater than the start date and smaller than the end date
#mask = (df['date'] > start_date) & (df['date'] <= end_date)

mask = (df['Date'] > '2018-04-01') & (df['Date'] <= '2018-04-09')
print(df.loc[mask])

                                 Address  Cars  ...       Date  Total Cars
0                    2 Avenue de Suffren     0  ... 2018-04-08           0
1              145 Rue Raymond Losserand     6  ... 2018-04-06           6
2       2 Avenue John Fitzgerald Kennedy     3  ... 2018-04-03           5
3                 51 Rue Eugne Oudin     3  ... 2018-04-04           4
4     6 avenue de la Porte de Champerret     3  ... 2018-04-08           3
...                                  ...   ...  ...        ...         ...
4993          6 avenue Charles-de-Gaulle     6  ... 2018-04-02           6
4995                 8 avenue Mnelotte     2  ... 2018-04-06           2
4996                   37 rue de Dantzig     4  ... 2018-04-04           4
4998         2 avenue du Val de Fontenay     2  ... 2018-04-04           2
4999                 5 Rue Henry Brisson     4  ... 2018-04-08           4

[4416 rows x 22 columns]

In [20]:
df.shape

(5000, 22)

### Exporting the Cleaned Dataset

In [21]:
# Export our dataframe into a csv file as shown 

df.to_csv("Autolib_Shared_Electric_Car_Service.csv")

## 1.5 Answering Questions

### 1.5.1 The most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

In [35]:
# Challenge 1
# Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

Paris = df[(df['City']== 'Paris') & (df['Rental status'] == 'operational')]
df.groupby('hour')['BlueCar'].value_counts().sort_values(ascending=False).head(1)

hour  BlueCar
14    0          76
Name: BlueCar, dtype: int64

### 1.5.2 The most popular hour for returning cars

In [23]:
# Challenge 2
# What is the most popular hour for returning cars?

df.groupby('hour')['Slots'].sum().sort_values(ascending=True).head(1) # At the 17th hour. This is the hour the available parking slots available are few

hour
17    349
Name: Slots, dtype: int64

### 1.5.3 Overall most popular station

In [24]:
# Challenge 3
# What is the overall most popular station

df.groupby('Station Name')['Total Cars'].sum().sort_values(ascending=True).head(5)

Station Name
Alfortville/Blanqui/61        0
Paris/Ecole de Medecine/21    0
Paris/Etoile Foch/Parking     0
Paris/Flandre/61              0
Paris/Franois 1er/38        0
Name: Total Cars, dtype: int64

### 1.5.4 The station that is the most popular during the most popular picking hour

In [25]:
# Challenge 4
# The station that is the most popular during the most popular picking hour
df.groupby('Station Name')['Total Cars'].sum().sort_values(ascending=False).head(3)

#df.groupby('hour')['Slots'].sum().sort_values(ascending=True).head(3)
df.groupby('hour')['Total Cars'].sum().sort_values(ascending=False).head(2)

hour
6    654
5    603
Name: Total Cars, dtype: int64

### 1.5.5 What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code? Overall?

In [26]:
# Challenge 5
# What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code? Overall?

### 1.5.6 Postal code that is the most popular for picking up Blue cars.

In [27]:
# Challenge 6
# Postal code that is the most popular for picking up Blue cars.

### 1.5.7  Does the most popular station belong to that postal code in 1.5.6 above? At the most popular picking hour?

In [28]:
# Challenge 7
# Does the most popular station belong to that postal code in 1.5.6 above? At the most popular picking hour?

### 1.5.8 Does the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

In [29]:
# Challenge 8
# Does the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

## 1.6 Recommendation

The outcome of the analysis was that the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018 was the 14th hour. This is because at that hour, there were no bluecars at the station. Meaning all the cars had been picked for use.

I would recommend that the company should consider adding more cars during this hour to cater for the business need.